pkgbase = xfce4-power-manager
	pkgdesc = Power Manager for Xfce
	pkgver = 4.18.3
	pkgrel = 1
	url = https://docs.xfce.org/xfce/xfce4-power-manager/start
	arch = x86_64
	groups = xfce4
	license = GPL2
	makedepends = intltool
	makedepends = xfce4-panel
	depends = libxfce4ui
	depends = upower
	depends = libnotify
	depends = xfce4-notifyd
	depends = hicolor-icon-theme
	source = https://archive.xfce.org/src/xfce/xfce4-power-manager/4.18/xfce4-power-manager-4.18.3.tar.bz2
	sha256sums = 0d79dd0f68b90d07b384366be4d2291a6d7815410eb0c20d3d8e8590c62e84f0

pkgname = xfce4-power-manager
